body {
  margin: 0;
  padding: 0;
}

#titulo {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #555;
}

.main_container {
  position: absolute;
  left: 35%;
  background-color: #222;
  border: 10px;
  border-style: inset;
  border-color: #444;
  display: inline-block;
  padding: 40px 40px 70px 40px;
}

.visor {
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #fff;
  border-radius: 4px;
  border-style: inset;
  background-color: #636363;
  color: #64b374;
  font-family: "Jersey 10", sans-serif;
  font-size: 22px;
  display: inline-block;
  width: 100%;
  text-align: right;
  height: 22px;
}


.fila {
  display: block;
  margin: 0;
  padding: 0;
}

.number{
    background-color: #555;
    color: #fff;
    font-size: 20px;
}

.operator{
    background-color: #555;
    color: #fff;
    font-size: 20px;
}

.delete{
    background-color: #900;
    color: #fff;
    font-size: 20px;
}

.ancho{
    border-radius: 5px;
    width: 50px;
    
}

.number:hover{
    background-color: #222;
}

.number:active{
    color: #4ce66d;
}

.operator:hover{
    background-color: #222;
}

.delete:hover{
    background-color: #300;
}

.operator:active{
  color: #9c1a75;
}

.delete:active{
  color: #1a8c9c;
}